<form #f="ngForm" (ngSubmit)="onSubmit(f.form)">
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input
      ngModel name="firstName"
      #firstName="ngModel"
      required
      (change)="log(firstName)"
      id="firstName"
      type="text"
      class="form-control"
      minlength="4">
    <div *ngIf="firstName.touched && firstName.errors">
      <div class="alert alert-danger"
           *ngIf="firstName.errors.required">
        First name required
      </div>
      <div class="alert alert-danger"
           *ngIf="firstName?.errors?.minlength">
        First should be minimum {{firstName?.errors?.minLength?.requiredLength}} characters long.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea
      ngModel name="comment"
      #comment="ngModel"
      id="comment" cols="30"
      rows="10"
      class="form-control"
      required>
        </textarea>
    <div
      class="alert alert-danger"
      *ngIf="comment.touched && !comment.valid">
      Comment is required
    </div>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" ngModel name="isSubscribed"> Subscribe to mailing list
    </label>
  </div>
  
  <div class="form-group">
    <label for="contactMethod">Contact method</label>
    <select ngModel name="contactMethod" id="contactMethod" class="form-control">
      <option value=""></option>
      <!--bunding ngValue instead of value, and we send the whoile method object when submitted instead of the id only.-->
      <option *ngFor="let method of contactMethods" [ngValue]="method">{{method.id}}</option>
    </select>
  </div>
  <div *ngFor="let method of contactMethods" class="radio">
    <label >
      <input ngModel type="radio" name="contactMethod2" [value]="method.id">
      {{method.name}}
    </label>
  </div>
  <p>
  {{f.value | json}}
  </p>
  <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
</form>
