<h2>{{tittle}}</h2>
<button (click)="loadCourses()">Load Courses.</button>
<br>
<input #theTittle (keyup.enter)="onKeyUp(theTittle.value)" type="text" bootstrapAutoGrow [(ngModel)]="tittle"/>
<br>
<button (click)="onAdd()">Add new course.</button>
<ul>
  <li *ngFor="let course of courses; trackBy: trackCourse"> <!-- track== reload only when elements changed identofied by id.
  When you remove a course it will reload only that one..-->
    {{course.name}}
    <button (click)="onRemove(course)">Remove</button>
  </li>
</ul>
